//Variables
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);

$very-dark-cyan:rgb(1,36,46);
$very-dark-cyan2: rgb(85,114,114);
$very-pale-blue: hsl(207, 100%, 98%);
$color-p: #B3BCC5;

//Fuentes
$fuente_headings: 'Poppins', sans-serif;
$fuente_body: 'Open Sans', sans-serif;

//Resoluciones
$telefono: 480px;
$tablet: 768px;
$desktop: 920px;